[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

more-itertools = "*"
numpy = "*"
numpydoc = "*"
mock = "*"
psutil = "*"
pyclibrary = "*"
pytest = "*"
tox = "*"


[packages]

blosc-cffi = {editable = true,path="."}
cffi = "*"


[requires]

python_version = "3.5"
